<!--<div class="card mb-3" style="max-width: 540px;">-->
<!--  <div class="row no-gutters">-->
<!--    <div class="col-md-4">-->
<!--      <img src="..." class="card-img" alt="...">-->
<!--    </div>-->
<!--    <div class="col-md-8">-->
<!--      <div class="card-body">-->
<!--        <h5 class="card-title">title</h5>-->
<!--        <h5 class="card-title">artist</h5>-->
<!--        <p class="card-text">songs</p>-->
<!--        <p class="card-text">favorite</p>-->
<!--        <p class="card-text">year</p>-->
<!--        <p class="card-text">genre</p>-->
<!--        <p class="card-text"><small class="unit"></small></p>-->
<!--        <a href="#" class="btn btn-primary">Button</a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--My div string t-->
<!-- Image and text -->

<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="">
    <img src="/assets/img/codebound.png" width="50" height="50" class="d-inline-block align-top" alt="">
    Codebound Album Project
  </a>
</nav>
<div id="bround">
<h1>My Top 5 Albums</h1>
</div>
<div class="card mb-3" style="max-width: 100%;" *ngFor=" let album of albums let color of albums; let even = even; let odd = odd" [ngClass]="{ odd: odd, even: even } ">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img [src]="album.cover" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body" >
        <h5 class="card-title" id="title"> {{ album.title }} </h5>
        <h5 class="card-title">{{ album.artist }} </h5>
        <p class="card-text"><b>Song list for Album</b>: {{album.songs}}</p>
        <p class="card-text"><b>Best Song:</b> {{album.favorite}}</p>
        <p class="card-text"><b> Album Release:</b> {{album.year}}</p>
        <p class="card-text">{{album.genre}}</p>
        <p class="card-text"><small class="unit"><b>Units Sold:</b>{{album.units | number}}</small></p>
      </div>
    </div>
</div>
</div>
<footer>By Eric Chavez</footer>
<script src="three.r95.min.js"></script>
<script src="vanta.cells.min.js"></script>
<script>
  VANTA.CELLS({
    el: "#bround",
    mouseControls: true,
    touchControls: true,
    minHeight: 200.00,
    minWidth: 200.00,
    scale: 1.00,
    color1: 0xffff,
    color2: 0x8e0010
  })
</script>
<br>
<br>
<br>

<h2>Add Album</h2>
<div class=" card card-body mb-3">
  <form>
    <div class="form-group">
      <label> Title</label>
      <input type="text" class="form-control" name="title" #title>
    </div>

    <div class="form-group">
      <label> Artist</label>
      <input type="text" class="form-control" name="name" #artist>
    </div>

    <div class="form-group">
      <label> Songs </label>
      <input type="text" class="form-control" name="title" #songs>
    </div>

    <div class="form-group">
      <label> Favorite</label>
      <input type="text" class="form-control" name="title" #favorite>
    </div>

    <div class="form-group">
      <label> Year</label>
      <input type="text" class="form-control" name="title" #year>
    </div>

      <div class="form-group">
        <label> Genre</label>
        <input type="text" class="form-control" name="title" #genre>
      </div>
        <div class="form-group">
          <label> Units</label>
          <input type="text" class="form-control" name="title" #units>
        </div>
    <button class="btn btn-dark btn-block">Submit Album</button>
  </form>
</div>







