#title{
  text-decoration: underline;
  text-transform: uppercase;
}
.even { background-color: darkred; }
.odd { background-color: cyan; }

.odd{color: darkred ;}
.even{color: cyan;}
h1{
  text-align: center;
  font-size: 72px;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0.03, rgb(139,0,0)),
    color-stop(0.52, rgb(0,255,255)),
    color-stop(0.76, rgb(139,0,0))
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer{
  font-size: 25px;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0.03, rgb(139,0,0)),
    color-stop(0.52, rgb(0,255,255)),
    color-stop(0.76, rgb(139,0,0))
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


